language: go
sudo: false

branches:
  only:
    - master

go:
  - 1.10.x
  - 1.11.x
  - master

env:
  - DEP_VERSION=0.5.0
  - LINTER_VERSION=1.10.2

before_install:
  - curl -L -s https://github.com/golang/dep/releases/download/v${DEP_VERSION}/dep-linux-amd64 -o $GOPATH/bin/dep
  - chmod +x $GOPATH/bin/dep
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $GOPATH/bin v${LINTER_VERSION}

script: make install


